C:\Users\20211TPMI0140\Documents\GitHub\Transport\USBWebserver v8.6.6\apache2
C:\Users\20211TPMI0140\Documents\GitHub\Transport\USBWebserver v8.6.6\lang
C:\Users\20211TPMI0140\Documents\GitHub\Transport\USBWebserver v8.6.6\mysql
C:\Users\20211TPMI0140\Documents\GitHub\Transport\USBWebserver v8.6.6\php
C:\Users\20211TPMI0140\Documents\GitHub\Transport\USBWebserver v8.6.6\phpmyadmin
C:\Users\20211TPMI0140\Documents\GitHub\Transport\USBWebserver v8.6.6\settings