div.user-trip-histories {
  /*  */
  height: inherit;
  position: relative;
  top: 60px;
}

div.trip-label-placer {
  height: 2em;
  padding: 2em 6%;
}

div.trip-label-placer h3 {
  /*  */
  font-size: 1.2em;
  font-weight: bolder;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

ul li {
  /*  */
  border-radius: 4px;
  background: #f2f2f2;
  border: 1px solid #666;
  margin: 2px;
  height: 4em;
  padding: 1em;
  font-weight: bolder;
  color: #333;
}

li#trip:hover, li#trip:focus, li#active {
  /*  */
  box-shadow:
  border: 1px solid #111;
  background: #fff;
  color: #111;
}

div.trip-date-time p {
  /*  */
  padding: 0.5em 0;
}

div.trip-destinations-details p {
  /*  */
  height: 1em;
  padding: 1em 4px;
  font-size: 0.8em;
}

@media only screen and (max-width: 750px) {
  /* Breakpoint caso a tela ficar menor que 750px (tablet) */
  h1#brandpage {
    /*  */
    font-size: 1.2em;
  }
}
