* {
  /* Todos os components da página */
  font-size: 1.1em;
}

body {

  height: 100%;
  width: 100%;
  background: #ccc;
}

h1#brandpage {
  /*  */
  padding: 16px;
  font-weight: bolder;
  font-size: 1.6em;
}

/* Conjunto de seletores do Header e seus filhos */

header {
  /*  */
  height: 60px;
  border-bottom: 1px solid #999;
}

div.headline {
  /*  */
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: inherit;
  z-index: 3;
}

div.banner {
  /*  */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: row;
  gap: 20px;
  height: inherit;
  background: #f2f2f2;
  border-bottom: 1px solid #999;
}

div.brandline {
  /*  */
  width: inherit;
  height: inherit;
  text-align: center;
}

div.user-agent-navigation {
  /*  */
  top: 0;
  right: 0;
  position: absolute;
  width: 20vw;
  height: 100%;
  user-select: none;
}

div.navigation-painel {
  /*  */
  width: 150px;
  height: 39px;
  border: 1px solid #f2f2f2;
  margin-top: 6px;
  margin-bottom: 4px;
  padding: 3px;
  border-radius: 36px;
  transition: background 0.2s, border 0.3s;
}

div.navigation-painel:hover, div.navigation-painel:focus {
  /*  */
  border: 1px solid #666;
  background: #f8f8f8;
}

div.user-profile-data {
  /*  */
  display: flex;
  flex-direction: row;
  gap: 4px;
}

div.profile-picture {
  /*  */
  width: 35px;
  height: 35px;
  background: red;
  border-radius: 20px;
  border: 2px solid #333;
}

div.navigation-menu {
  /*  */
  background: #999;
  width: 150px;
  padding: 2px;
  border-radius: 2px;
}

div.username-placer {
  padding: 12px;
}

div.username-placer h2 {
  /*  */
  font-weight: 600;
}

div.navigation-menu ul {
  /*  */
  width: 100%;
  height: 100%;
}


div.navigation-menu ul li {
  /*  */
  height: 100%;
  padding: 8px;
  height: 12px;
  text-align: center;
  background: #d9d9d9;
  border: 1px solid #666;
  border-radius: 2px;
  font-size: 0.8em;
  user-select: none;
}

div.navigation-menu ul li:hover {
  /*  */
  background: #e3e3e3;
}

main {
  display: flex;
  flex-flow: row;
  height: 100%;
}


aside.side-panel {
  /*  */
  width: 30vw;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #E6E6E6;
}

div.trip-details-conditions {height: 80%;margin: 1em 5%;padding: 3em 5%;}

div.planner-label-placer {
  /*  */
  height: 80px;
  align-items: center;
  padding: 8px;
}

div.planner-label-placer h3 {
  /*  */
  text-align: center;
  font-size: 1.2em;
  margin: 2em 5%;
  font-weight: bolder;
}

form.travel-plan-letter {
  /*  */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 1pc;
  margin: 2em 2%;
}


form.travel-plan-letter input[type=search] {
  /*  */
  margin: 2px;
  width: 18em;
  height: 1.8pc;
  font-size: 0.6em;
}

form.travel-plan-letter input[name='cancel'] {
  /*  */
  font-size: 1pc;
  font-weight: bold;
  padding: 4px;
  border: 2px solid #db0000;
  font-weight: 500;
  background: red;
  border-radius: 3px;
  color: #fff;
}

form.travel-plan-letter input[name='cancel']:hover, form.travel-plan-letter input[name='cancel']:focus,
form.travel-plan-letter input[name='cancel']:active {
  /*  */
  background: #d50000;
  color: #f2f2f2;
}


@media only screen and (max-width: 750px) {
  /* Breakpoint caso a tela ficar menor que 750px (tablet) */
  h1#brandpage {
    /*  */
    font-size: 1.2em;
  }
}
